*.bin
*.pt
*.safetensors
*.pth
gpt-oss-20b-mla-init/
gpt-oss-20b-mla-healed/
offload_folder/
checkpoints/

# Ignore Large Datasets
*.jsonl
data_pipeline/*.jsonl
training/*.jsonl

# Ignore Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env